		.latar{
			font-size: 13px;
			border-spacing: 0;
			border-width: 0;
			padding-right: 15px;
			background-size: 110%;
			border:1px solid black;
		}
		.t1{
			text-align: center;
			width: 20px;
			padding: 10px;
			background-color: #ffff00;
			
		}
		.t2{
			background-color: #D9D9D9;
			text-align: center;
			
		}
		.t3{
			background-color: #FF99FF;
			border-color: black;
			text-align: center;
		}
		tr>td {
			font-style: ;
			font-size: 12px;
			border-color: black;
		}
		.dc-nv1{
			padding: 5px;
		}
		.dc-nv2{
			padding: 5px;
		}
		.dc-nv3{
			padding: 10px;
		}
		.dc-nv4{
			padding: 12.9px;
		}
		.dc-nv5{
			padding: 11px;
		}
	
		.font{
			font-weight: bold;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  			
		}
		td {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
		}



		