.nav-tabs { 
	border-bottom: 2px solid #DDD; 
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	border-width: 0; 
}
.nav-tabs > li > a { 
	border: none; 
	color: #666; 
}
.nav-tabs > li.active > a, 
.nav-tabs > li > a:hover { 
	border: none; 
	color: #4285F4 !important; 
	background: transparent; 
}
.nav-tabs > li > a::after { 
	content: ""; 
	background: #4285F4; 
	height: 2px; 
	position: absolute; 
	width: 100%; 
	left: 0px; 
	bottom: -1px; 
	transition: all 250ms ease 0s; 
	transform: scale(0); 
}
.nav-tabs > li.active > a::after, 
.nav-tabs > li:hover > a::after { 
	transform: scale(1); 
}
.tab-nav > li > a::after { 
	background: #21527d none repeat scroll 0% 0%; 
	color: #fff; 
}
.tab-pane { 
	padding: 15px 0; 
}
.tab-content{
	padding:20px
}
.card {
	background: #FFF none repeat scroll 0% 0%; 
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); 
	margin-bottom: 30px; 
}


table.table-border{
	border:1px solid #dddddd;
}
table tr th.center,
table tr td.center{
	text-align: center;
}
table.table-clean tr td,
table.table-clean tr{
	border:0px;
}

/* striped table */
table.table-primary.table-striped tr.tr-body:nth-child(even){
	background: rgba(0,180,165,0.05);
}

/* hover table */
table.table-primary.table-hover tr.tr-body:hover{
	background: rgba(0,180,165,0.1);
}
table.table-danger.table-hover tr.tr-body:hover{
	background: rgba(223,56,44,.1);
}
table.table-warning.table-hover tr.tr-body:hover{
	background: rgba(239,183,62,.2);
}
table.table-info.table-hover tr.tr-body:hover{
	background: rgba(8,157,227,0.1);
}
table.table-success.table-hover tr.tr-body:hover{
	background: rgba(94,165,940,.15);
}
table.table-default.table-hover tr.tr-body:hover{
	background: rgba(33,46,62,0.1);
}


table.table-primary tr.tr-body:hover,
table.table-danger tr.tr-body:hover,
table.table-warning tr.tr-body:hover,
table.table-info tr.tr-body:hover,
table.table-success tr.tr-body:hover,
table.table-default tr.tr-body:hover{
	transition: .2s background ease-out;
}

table.table-border.table-primary{
	border: 1px solid #00B4A5;
}
table.table-border.table-danger{
	border: 1px solid #df382c;
}
table.table-border.table-warning{
	border: 1px solid #FFA500;
}
table.table-border.table-info{
	border: 1px solid rgb(8,157,227);
}
table.table-border.table-success{
	border: 1px solid #5ea55e;
}
table.table-border.table-default{
	border: 1px solid #212e3e;
}


/* coloring background on tr th */
table.table-primary tr.tr-head{
	background:#00B4A5;
}
table.table-danger tr.tr-head{
	background:#df382c;
}
table.table-warning tr.tr-head{
	background:#FFA500;
}
table.table-info tr.tr-head{
	background:rgb(8,157,227);
}
table.table-info tr.tr-head-2{
	background:rgba(8,157,227,.8);
}
table.table-success tr.tr-head{
	background:#5ea55e;
}
table.table-default tr.tr-head{
	background:#212e3e;
}
table.table-primary tr.tr-head,
table.table-danger tr.tr-head,
table.table-warning tr.tr-head,
table.table-info tr.tr-head,
table.table-success tr.tr-head,
table.table-default tr.tr-head{
	color: #fff;
	vertical-align: middle;
}
/* end coloring background on tr th */



table#table-index tbody tr td.danger{ 
background : rgba(213,0,0,.5); 
} 

table#table-index tbody tr td.success{ 
background : rgba(76,175,80,.5); 
} 

table#table-index tbody tr td.warning{ 
background : rgba(255,255,0,.5); 
}


table#table-index tbody tr:hover td.danger{ 
background : rgba(213,0,0,.7); 
} 

table#table-index tbody tr:hover td.success{ 
background : rgba(76,175,80,.7); 
} 

table#table-index tbody tr:hover td.warning{ 
background : rgba(255,255,0,.7); 
}
